<h2> Olá {{ username }} </h2>
<p>
  Você esta solicitando uma recuperação da sua senha, para alterar clique no link abaixo:
</p>

<p>
  <a href="{{ resetPasswordUrl }}" target="_blank">Recuperar Senha</a>
</p>

<p>
  Caso não tenha sido você que fez a solicitação, favor descartar este e-mail.
</p>

<p>
  <strong>Suporte Sisteminha</strong>
</p>
